h1.app-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  padding: 1em;
}

.form-group {
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

small.form-text {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display:inline-block;
}

button.set-name-button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.blur {
  filter: blur(5px);
}

.loading-card-body {
  text-align: center;
}